
@import "variables";
@import "generales";

#field{ 
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-image: linear-gradient(to top, red,yellow);
}

#img_robo{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#foto_1{
    height: 100%;
}

#foto_2{
    height: 100%;
}

#body_productos{
    background-color: yellow;
}

#carouselExampleControls{
    height: 500px;
    width: 500px;
}

#comentario{
    align-content:center;
    justify-content: center;
}

#legend_productos{
    font-weight: 700;
    background-color: beige;
}

#productos_lista{
    background-image:linear-gradient(to bottom, hsl(0, 100%, 50%, 0.65), hsl(60, 100%, 50%, 0.65)) 
                     url(../img/Logo-Shell3.jpg); 
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y:center ;
    background-color:red;
    background-size: contain;
    
    
}

#titulo_aceite{
    text-align: left;
}

#papa_aceites{
    display: grid;
    
    grid-template-areas: "a1" "a1" "a1"
                          "a2" "a2" "a2";
    justify-content: space-around;                      
}

#p_aceite{
    text-align: left;
}

#aceite_img_1{
    height:225px;
}

#imagen_gal{
    margin: 2px;

}

#comentario{
    display: flex;
    align-items: center;
}

@media only screen and (min-width: 600px){
    #img_robo{
        height: 550;
        display: grid;
        grid-template-columns:  270px 270px;
        grid: template rows 100%;
        margin: 5px;
        justify-content: space-evenly;
        align-content: space-around;
        grid-row-gap: 5px;
    }
    
    @mixin estilo_img($altura_img, $ancho_img) {
        height: $altura_img;
        width: $ancho_img;
    }

    .img{
       @include estilo_img(170px,300px )
    }

    .img__gal{
        @extend .img
    }

    .img__aceite{
        @extend .img
    }

    .aceite_img:hover{
        transform: scale(1.5,1.5);
        transition: 2s;

    }

    .img__gal:hover{
        transform: scale(1.5,1.5);
        transition: 2s;
    }

    
    #productos_lista{
        height: 1500px;
       
    }

    #precio_comb{
        justify-content: center;
        align-content: center;
    }

    #papa_aceites{
        height: 1200px;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 400px 400px 400px ;
        justify-content: space-around; 
    }

    
    #aceite_img_1{
        width: 250px;
    }

    #galeria{
        height: 600px;
        display: grid;
        grid-template-columns: 35% 30% 35%;
        grid-template-rows: 50% 50% ;
        grid-template-areas: "a1 a2 a3"
                             "a4 a5 a6";
        justify-content: space-evenly;
        align-content: space-around;
    }

    #imagen_gal_1{
        grid-area: a1;
    }

    #imagen_gal_2{
        grid-area: a2;
    }

    #imagen_gal_3{
        grid-area: a3;
    }

    #imagen_gal_4{
        grid-area: a4;
        height: 200px;
       
    }

    #imagen_gal_5{
        grid-area: a5 b;
    }

    #contc_btn{
        justify-items: center;
        align-items: center;
    }
}

@media only screen and (max-width: 600px) {
    #header{
        height: 150px;

    }

    #buscar{
        width: 100px;
    }

    #img_robo{
        display: grid;
        grid-template-rows: 300px 300px;
        align-items: center;
        justify-items: center;
        grid-template-areas: "a1" 
                             "a2"  ;
    }

    #foto_1{
        width: 200px;
        height: 200px;
        grid-area: a1;
    }

    #foto_2{
        width: 200px;
        height: 200px;
        grid-area: a2;
    }

   #carouselExampleControls{
    width: 300px;
    height: 300px;
   }

   #galeria{
    display:grid;
    grid-template-columns: 1fr;
    justify-content: space-around;
    align-content: center;
   }
}